
/*##### GLOBAL STYLING #####*/
*{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

body{
    overflow-x: hidden;
    margin-bottom: 60px;
    background-color: white;
}

a{
    color: inherit;
    text-decoration: none;
}

hr{
    height: 2px;
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: lightgray;
    border: none;
}

ul{
    list-style: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

footer{
    padding-top: 4px;
    padding-bottom: 4px;
    height: 30px;
    width: 100%;
    position:fixed;
    bottom:0;
    left: 0;
    background-color: whitesmoke;
    text-align: center;
}
a.footer_link{
    font-size: 16px;
}
a.footer_link:hover{
    text-decoration: underline;
}

hr.zig, hr.zag {
    border: none;
    height: 30px;
    margin: 0 20px;
}
hr.zig{
    background: linear-gradient(-135deg, white 20px, rgba(0, 0, 0, 0) 0) 0 5px, linear-gradient(135deg, white 20px, rgba(0, 0, 0, 0) 0) 0 5px;
    background-color: rgba(0, 0, 0, 0);
    background-position: center bottom;
    background-repeat: repeat-x;
    background-size: 20px 40px;
    position: relative;
  }
hr.zag {
    background: linear-gradient(-135deg, lightgray 20px, rgba(0, 0, 0, 0) 0) 0 5px, linear-gradient(135deg, lightgray 20px, white 0) 0 5px;
    background-color: lightgray;
    background-position: center bottom;
    background-repeat: repeat-x;
    background-size: 20px 40px;
    margin-top: -28px;
}

div.table_wrap{
    text-align: center;
    padding: 20px;
}
div.column_wrap{
    display: inline-block;
    vertical-align: top;
}

input[type=button]{
    color: white;
    width: 100%;
    padding: 6px;
    background-color: gray;
    border-style: none;
    transition: 0.2s;
}
input[type=button]:hover{
    cursor: pointer;
    color: white;
    background-color: limegreen;
}
.loader {
    border: 8px solid white;
    border-radius: 50%;
    border-top: 8px solid gray;
    width: 32px;
    height: 32px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}
.loader_text{
    margin-left: 8px;
    color: gray;
    font-size: 24px;
    font-weight: bold;
}

.checked {
    color:#ff4747;
}
.maximum{
    color: orange;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*##### HEADER STYLING #####*/
div.header{
    width: 100%;
}
img.header_logo{
    width: 100%;
    max-width: 640px;
}
div.header_bar{
    background-color: white;
    border-bottom: 4px solid limegreen;
}
div.header_link{
    padding: 8px;
    color: dimgray;
    text-align: center;
    min-inline-size: 60px;
    background-color: white;
    transition: 0.2s;
}
div.header_link:hover{
    color: white;
    background-color: limegreen;
}
div.dropdown{
    position: relative;
}
div.dropdown:hover div.dropdown_content{
    display: block;
}
div.dropdown_content {
    color: dimgray;
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    z-index: 1;
    border-top: 4px solid limegreen;
}
div.dropdown_link{
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
}
div.dropdown_link:hover{
    color: white;
    background-color: limegreen;
}

/*##### HOMEPAGE STYLING #####*/
div.main{
    width: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
img.home_image{
    width: 100%;
    max-width: 320px;
    border-color: limegreen;
    border-style: solid;
    border-width: 4px;
    transition: 0.2s;
}
img.home_image:hover{
    cursor: pointer;
    border-color: #ff4747;
}
input[type=button].home_button{
    margin-top: 6px;
    width: 100%;
    max-width: 328px;
}
div.home_border{
    border-color: limegreen;
    border-style: solid;
    border-width: 4px;
}

/*##### PRODUCT STYLING #####*/
div.product{
    width: 240px;
    height: 360px;
    margin: 20px;
    max-width: 320px;
    padding: 8px 8px;
    background: white;
    border-style: solid;
    border-color: lightgray;
    border-width: 2px;
    transition: 0.1s;
}
div.product:hover{
    cursor: pointer;
    -webkit-box-shadow: 0px 5px 10px -7px #000000; 
    box-shadow: 0px 5px 10px -7px #000000;
}
div.product_image_holder{
    display: flex;
    justify-content: center;
}
img.product_image{
    margin: auto;
    width: 100%;
    max-width: 120px;
    height: 150px;
}
h3.product_category{
    text-align: left;
    font-weight: lighter;
    margin-bottom: 12px;
}
h1.product_title{
    margin-top: 12px;
    width: 100%;
    height: 54px;
    color: gray;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
h2.product_price{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: limegreen;
}

/*##### REVIEW STYLING #####*/
img.review_image{
    width: 100%;
    min-width: 400px;
    max-width: 416px;
    border-color: limegreen;
    border-style: solid;
    border-width: 4px;
}
div.review_holder{
    text-align: center;
    margin-left: 12px;
    width: 100%;
    max-width: 600px;
    display: inline-block;
    vertical-align: top;
}
h1.review_title{
    text-align: center;
    width: 100%;
    color: limegreen;
    font-size: 40px;
    font-weight: bold;
}
h2.review_title{
    text-align: center;
    width: 100%;
    color: limegreen;
    font-size: 32px;
}
h2.review_subtitle{
    margin-left: 12px;
    margin-right: 12px;
    text-align: center;
}
p.review_body{
    text-align: center;
}
h1.related_title{
    margin-top: 20px;
    text-align: center;
    color: gray;
    font-size: 30px;
    font-style: italic;
}
@media (max-width: 1065px){
    div.review_holder{
        margin: 0;
        margin-top: 12px;
    }
}

/*##### LINK STYLING #####*/
h1.link:hover{
    text-decoration: underline;
}